force-app/main/default/flows/Account_Association_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Selected_Value</name>
        <label>Assign Selected Value</label>
        <locationX>820</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>SelectedRadioVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Type_Selection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Operation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Advertise_Radio_Variable</name>
        <label>Copy 1 of Advertise Radio Variable</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>TypeAcc</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sub-Client</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Record_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Selected_Value</name>
        <label>Copy 1 of Assign Selected Value</label>
        <locationX>1084</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>SelectedRadioVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Account_Type_Selection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Operation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Advertise_Radio_Variable</name>
        <label>Copy 1 of Copy 1 of Advertise Radio Variable</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>TypeAcc</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brand</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Record_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Selected_Value</name>
        <label>Copy 1 of Copy 1 of Assign Selected Value</label>
        <locationX>1348</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>SelectedRadioVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Account_Type_Selection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Operation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Advertise_Radio_Variable</name>
        <label>Copy 2 of Advertise Radio Variable</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>TypeAcc</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Account_Record_Creation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>a</name>
        <choiceText>a</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a</stringValue>
        </value>
    </choices>
    <choices>
        <name>AdvertiserClient</name>
        <choiceText>Advertiser Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Advertiser Client - Brand</stringValue>
        </value>
    </choices>
    <choices>
        <name>AdvertiserSubClient</name>
        <choiceText>Advertiser Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Advertiser Client - Sub-Client</stringValue>
        </value>
    </choices>
    <choices>
        <name>Brand</name>
        <choiceText>Brand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brand - Advertiser Client</stringValue>
        </value>
    </choices>
    <choices>
        <name>BrandSubClient</name>
        <choiceText>Brand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brand - Sub-Client</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateNew</name>
        <choiceText>Create New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>LinkExisting</name>
        <choiceText>Link Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>SubClientBrand</name>
        <choiceText>Sub-Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sub-Client - Brand</stringValue>
        </value>
    </choices>
    <choices>
        <name>SubClientChoice</name>
        <choiceText>Sub-Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sub-Client - Advertiser Client</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_account_type</name>
        <label>Check account type</label>
        <locationX>1216</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Advertiser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account_records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertiser Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Type_Selection1</targetReference>
            </connector>
            <label>Type Advertiser</label>
        </rules>
        <rules>
            <name>Type_Brand2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account_records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Account_Type_Selection</targetReference>
            </connector>
            <label>Type Brand</label>
        </rules>
        <rules>
            <name>Type_SubClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account_records.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub-Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Account_Type_Selection</targetReference>
            </connector>
            <label>Type SubClient</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Operation</name>
        <label>Check Operation</label>
        <locationX>1216</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account_Screen</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Selected_Type</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Account</name>
        <label>Check Selected Account</label>
        <locationX>1414</locationX>
        <locationY>1310</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Partner</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Type</name>
        <label>Check Selected Type</label>
        <locationX>1414</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Check_Selected_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advertiser_Client</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRadioVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertiser Client - Sub-Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedRadioVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertiser Client - Brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Selection</targetReference>
            </connector>
            <label>Advertiser Client</label>
        </rules>
        <rules>
            <name>Sub_Client</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRadioVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub-Client - Advertiser Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedRadioVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub-Client - Brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Account_Selection</targetReference>
            </connector>
            <label>Sub-Client</label>
        </rules>
        <rules>
            <name>BrandCh</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRadioVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand - Advertiser Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedRadioVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand - Sub-Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Account_Selection</targetReference>
            </connector>
            <label>Brand</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Selected_Radio_Var</name>
        <label>Copy 1 of Check Selected Radio Var</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Account_Record_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Advertiser_Client_Sub_Client</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRadioVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertiser Client - Sub-Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedRadioVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertiser Client - Brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Advertise_Radio_Variable</targetReference>
            </connector>
            <label>Copy 1 of Advertiser Client - Sub-Client</label>
        </rules>
        <rules>
            <name>Copy_1_of_Sub_Client</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRadioVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub-Client - Brand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedRadioVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub-Client - Advertiser Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Advertise_Radio_Variable</targetReference>
            </connector>
            <label>Copy 1 of Sub-Client</label>
        </rules>
        <rules>
            <name>Copy_1_of_Brand</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRadioVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand - Sub-Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedRadioVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand - Advertiser Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Advertise_Radio_Variable</targetReference>
            </connector>
            <label>Copy 1 of Brand</label>
        </rules>
    </decisions>
    <interviewLabel>Account Association Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Association Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Account_Partner_Record_New</name>
        <label>Account Partner Record New</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <inputAssignments>
            <field>AccountFromId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountToId</field>
            <value>
                <elementReference>NewAccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>SelectedRadioVariable</elementReference>
            </value>
        </inputAssignments>
        <object>AccountPartner</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Account_Record_Creation</name>
        <label>Account Record Creation</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <assignRecordIdToReference>NewAccId</assignRecordIdToReference>
        <connector>
            <targetReference>Account_Partner_Record_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>AccountRec.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AccountRec.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>AccountRec.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TypeAcc</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Partner</name>
        <label>Create Account Partner</label>
        <locationX>1282</locationX>
        <locationY>1430</locationY>
        <inputAssignments>
            <field>AccountFromId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountToId</field>
            <value>
                <elementReference>SelectedAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>SelectedRadioVariable</elementReference>
            </value>
        </inputAssignments>
        <object>AccountPartner</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_account_records</name>
        <label>Get account records</label>
        <locationX>1216</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_account_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_Selection</name>
        <label>Account Selection</label>
        <locationX>1018</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Selected_Account</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Advertiser_Client__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAccount</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Account_Type_Selection1</name>
        <label>Account Type Selection</label>
        <locationX>820</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Value</targetReference>
        </connector>
        <fields>
            <name>Account_Type_Selection</name>
            <choiceReferences>SubClientChoice</choiceReferences>
            <choiceReferences>Brand</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Type Selection</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Account_Selection</name>
        <label>Copy 1 of Account Selection</label>
        <locationX>1282</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Selected_Account</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sub_Client__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAccount</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Account_Selection</name>
        <label>Copy 1 of Copy 1 of Account Selection</label>
        <locationX>1546</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Selected_Account</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Brand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAccount</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_2_of_Account_Type_Selection</name>
        <label>Copy 1 of Copy 2 of Account Type Selection</label>
        <locationX>1348</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Selected_Value</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Account_Type_Selection</name>
            <choiceReferences>AdvertiserSubClient</choiceReferences>
            <choiceReferences>BrandSubClient</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Type Selection</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Account_Type_Selection</name>
        <label>Copy 2 of Account Type Selection</label>
        <locationX>1084</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Selected_Value</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Account_Type_Selection</name>
            <choiceReferences>AdvertiserClient</choiceReferences>
            <choiceReferences>SubClientBrand</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Type Selection</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Account_Screen</name>
        <label>New Account Screen</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Check_Selected_Radio_Var</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRec.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRec.Phone</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRec.Industry</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Operation</name>
        <label>Operation</label>
        <locationX>1216</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Operation</targetReference>
        </connector>
        <fields>
            <name>Choose_Operation</name>
            <choiceReferences>CreateNew</choiceReferences>
            <choiceReferences>LinkExisting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Operation</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1090</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_account_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRadioVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeAcc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
